{% load static i18n compress %}<!DOCTYPE html>

<!--TODO: navbar-- add new links for news & blog -->
<!--TODO: add mastodon icon to footer social media links-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Arcadia: a community land trust{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Website for Arcadia">
  <meta name="author" content="Arcadia">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->

  {% block css %}
  <!-- Your stuff: Third-party CSS libraries go here -->
  {% compress css %}

  <link href="{% static 'css/project.min.css' %}" rel="stylesheet">

  {% endcompress %}

  <!--favicon link-->
  <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">

  {% endblock %}

</head>
<body>

<!--navbar-->
<div class="m-b-1">

  <nav class="navbar static-top navbar-expand-xl navbar-light">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'images/navbar_logo_1.png' %}">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">

        <li class="nav-item arc-main-nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown arc-main-nav-item">
          <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'about' %}">About</a>
            <a class="dropdown-item" href="{% url 'about' %}">Team</a>
          </div>

        </li>

        <li class="nav-item dropdown arc-main-nav-item">
          <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Programs</a>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'about' %}">Land Planning & Stewardship</a>
            <a class="dropdown-item" href="{% url 'about' %}">Land Sharing</a>
            <a class="dropdown-item" href="{% url 'about' %}">Research & Learning</a>
          </div>

        </li>

        <li class="nav-item arc-main-nav-item">
          <a class="nav-link" href="{% url 'about' %}">Projects</a>
        </li>


        <li class="nav-item dropdown arc-main-nav-item">
          <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Work with Us</a>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'about' %}">Landowners</a>
            <a class="dropdown-item" href="{% url 'about' %}">Land Seekers</a>
            <a class="dropdown-item" href="{% url 'about' %}">Farmers & Stewards</a>
            <a class="dropdown-item" href="{% url 'about' %}">Community Partners</a>
          </div>

        </li>
        <!--<li class="nav-item arc-main-nav-item">-->
          <!--<a class="nav-link" href="{% url 'about' %}">Work with Us</a>-->
        <!--</li>-->

        <li class="nav-item arc-main-nav-item">
          <a class="nav-link" href="{% url 'about' %}">Donate</a>
        </li>

        <li class="nav-item arc-main-nav-item">
          <a class="nav-link" href="{% url 'about' %}">Contact</a>
        </li>

      </ul>


      <ul class="navbar-nav mx-left">
        <!--TODO:user/auth system-->
        <!--{% if request.user.is_authenticated %}-->
        <!--<li class="nav-item arc-main-nav-item">-->
          <!--{# URL provided by django-allauth/account/urls.py #}-->
          <!--<a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>-->
        <!--</li>-->

        <!--<li class="nav-item arc-main-nav-item">-->
          <!--{# URL provided by django-allauth/account/urls.py #}-->
          <!--<a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>-->
        <!--</li>-->

        <!--{% else %}-->
        <!--<li class="nav-item arc-main-nav-item">-->
          <!--{# URL provided by django-allauth/account/urls.py #}-->
          <!--<a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>-->
        <!--</li>-->

        <!--<li class="nav-item arc-main-nav-item">-->
          <!--{# URL provided by django-allauth/account/urls.py #}-->
          <!--<a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>-->
        <!--</li>-->
        <!--{% endif %}-->
        <li class="nav-item arc-main-nav-item ">
          <a href="#"><i class="navbar-brand fab fa-twitter"></i></a>
          <a href="#"><i class="navbar-brand fab fa-facebook-square"></i></a>
          <a href="#"><i class="navbar-brand fab fa-github-square"></i></a>
          <a href="#"><i class="navbar-brand fab fa-instagram"></i></a>
          <a href="#"><i class="navbar-brand fab fa-snapchat-square"></i></a>
        </li>

      </ul>
    </div>
  </nav>

</div>


<!--content begins here-->
<!--*********************************************-->

  {% if messages %}
  {% for message in messages %}
  <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}
  </div>
  {% endfor %}
  {% endif %}


  {% block content %}
  {% endblock content %}

<!--*************************************-->

{% block modal %}{% endblock modal %}

{% load crispy_forms_tags %}


<div class="container-fluid footer-main">
  <div class="top-row row">

    <div class="col-md-3">
      <img src="{% static 'images/navbar_logo_1.png' %}">
    </div>

    <div class="col-sm-4 col-md-3">
      <h6>Site Map</h6>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">about us</li>
        <li class="list-group-item">programs</li>
        <li class="list-group-item">projects</li>
        <li class="list-group-item">contact</li>
      </ul>
    </div>

    <div class="col-sm-4 col-md-3">
      <h6>Follow Us</h6>
      <ul class="list-group list-group-flush">

        <li class="list-group-item">
          <i class="fab fa-facebook-square"></i>
        </li>

        <li class="list-group-item">
          <i class="fab fa-twitter"></i>
        </li>

        <li class="list-group-item">
          <i class="fab fa-instagram"></i>
        </li>

        <li class="list-group-item">
          <i class="fab fa-github-square"></i>
        </li>
        <!--<li class="list-group-item">mastodon!</li>-->
      </ul>
    </div>

    <div class="col-sm-4 col-md-3">
      <h6>Newsletter</h6>
      <p>Stay in the loop with our monthly newsletter.</p>

      <!--form test-->
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="email" name="email" placeholder="name@example.com" class="newsletter-email-input"/>
            <br>
            <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
          </form>
        </li>

      </ul>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <p class="copyright">Copyright Arcadia Land Trust, 2018. Site coded by <a href="#">Stanton Burton</a>. Please forward any bugs via our contact page.</p>
    </div>
  </div>

</div>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}

<!-- Vendor dependencies bundled as one file-->
<script src="{% static 'js/vendors.min.js' %}"></script>

<!-- place project specific Javascript in this file -->
<script src="{% static 'js/project.min.js' %}"></script>

{% endblock javascript %}
</body>
</html>
