{% extends "base.html" %}
{% load static i18n compress %}
{% block content %}

<!--everything in the extended pages is inside a container-fluid-->
<!--Begin CSS Grid + Bootstrap experiment-->

  <div class="container-fluid banner-container text-center">

    <h1 class="banner-header">Arcadia</h1>
    <h6 class="banner-header banner-sub-header">a community land trust</h6>
    <img src="{% static 'images/arcadia_flower.png' %}" class="banner-logo my-t">
    <h6 class="banner-header banner-tagline">Community-led land stewardship for Middle Tennessee</h6>

  </div>

<div class="container-fluid css-grid-container css-grid--block">

  <div class="row">

    <div class="col-md-4 col-lg-3">
      <div class="block">
        <h1>Block Header</h1>
        <p>This line is longer, but it doesn't break anything!</p>
      </div>
    </div>

    <div class="col-md-4 col-lg-3">
      <div class="block">
        <h1>Block Header</h1>
        <p>This is a paragraph sentence.</p>
      </div>
    </div>

    <div class="col-md-4 col-lg-3">
      <div class="block">
        <h1>Block Header</h1>
        <p>This is a paragraph sentence.</p>
      </div>
    </div>
  </div>



  </div>
</div>
    <div class="section meet-arcadia">
      Meet Arcadia
      <ul>
        <li>For Landowners</li>
        <li>For Land Seekers</li>
        <li>For Farmers and Stewards</li>
        <li>For Community Partners</li>
      </ul>
    </div>

    <div class="section newsletter">
      Stay in the loop
    </div>

    <div class="section news">
    </div>

<!--End CSS grid experiment-->

{% endblock content %}
