// project specific CSS goes here

////////////////////////////////
		//Project Variables//
////////////////////////////////


// Fonts

$arc-header: Quando;




// Navbar
//
nav.navbar-light {
  background: $arc-blue;
  }


////////////////////////////////
		// //
////////////////////////////////



#body-text{
  font-family: Quando-Regular
}



/* page footer */
.footer-main {
    background-color: $arc-blue;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0 0 0;
    margin: 0;
}




////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}


#myCustomID {
  background: white;
}
