// Theme colors

$arc-blue: #3C3F50;
$arc-blue-dark: #141d33;
$arc-green: #acdc98;
$arc-purple: #a08bc5;
$arc-brown: #2f2e2d;
$arc-blue-light: #bfcafa;
$arc-white: #fcfbe8;

$gray: #CFE3DC;
$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;
